*{
    font-family: 'Courier New', Courier, monospace;
}


li {
    display: inline-block;
    text-align: center;
    position:relative;
    margin-right: 15%;
}
ul {
    text-align: center;
}

header{
    text-align: center;
}