*{
    font-family: 'Courier New', Courier, monospace;
}


li {
    display: inline-block;
    text-align: center;
    position:relative;
    margin-right: 15%;
}
.contactbox {
    text-align: right;
    display: grid;
}

header {
    text-align: center;
}

.text-right{
    text-align: right;
}


